<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application>
        <!-- Jetpack Startup automatic initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            
            <!-- Register Hilt Startup Initializer for automatic background tasks -->
            <meta-data
                android:name="killua.dev.core.init.HiltStartupInitializer"
                android:value="androidx.startup" />
                
            <!-- To disable automatic initialization and trigger manually, use:
            <meta-data
                android:name="killua.dev.core.init.HiltStartupInitializer"
                tools:node="remove"
                xmlns:tools="http://schemas.android.com/tools" />
            -->
        </provider>
        
        <activity
            android:name=".init.StartupActivity"
            android:exported="false"
            android:label="@string/title_activity_startup"
            android:theme="@style/Theme.Arc_appdevkit" />
    </application>

</manifest>